<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheet/product.css">
    <title>About-page</title>
  </head>
  <body>
    <div id="navbar">
      <div class="image">
        <img src="/uploads/images/logo.png" alt="logo" />
      </div>
  
      <div class="tab">
        <ul>
          <li class="hideOnMobile">
            <a href="/">Home<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/About">About-us<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/Design">Our-Design<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/Contact">Contact-us<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/logout">logout<span></span></a>
          </li>
        
          <li class="menu-button" onclick="showSidebar()">
            <a href="#"><i class="fa-solid fa-bars" height="26" width="26"></i></a>
          </li>
  
        </ul>
      </div>
       <div id="sidebar">
      <div class="tab"></div>
        <ul>
          <li onclick="hideSidebar()">
            <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
          </li>
          <li>
            <a href="/">Home<span></span></a>
          </li>
          <li>
            <a href="/About">About-us<span></span></a>
          </li>
          <li>
            <a href="/Design">Our-Design<span></span></a>
          </li>
          <li>
            <a href="/Contact">Contact-us<span></span></a>
          </li>
          <li>
            <a href="/logout">logout<span></span></a>
          </li>
          
        </ul>
      </div>
    </div>
    </div>
    

    <!--hero-section-->
    <div class="hero-section">
      <img id="naruto" src="/uploads/images/fighting-girl.png" alt="" />
      <div class="hero-text">
        <span class="word">lets </span><span class="word"> know </span
        ><span class="ab">about-us</span>
      </div>
      <div class="hlo">
        <a href="https://youtu.be/FEFOO5hQ16c?si=ShloomURx6oh189i">
          <img src="/uploads/images/def.png" alt=""
        /></a>
      </div>
    </div>

    <div id="profiles">
      <img src="/uploads/images/hand.jpeg" alt="gamer" />
      <div class="profiles-text">
        <div class="line">
         <p> CEO of the industry who leads the COMPANY named is yogesh mishra the
          youngest Millionaire or world smartest person</p>
        </div>
        <div class="line">
          manage the company and helps to achive the sucess or profit for the
          oragnization
        </div>
        <div class="line">super smart and handsome yougnest millionaire</div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
      </div>
    </div>
    <div id="profiles">
      <div class="profiles-text">
        <div class="line">
          CEO of the industry who leads the COMPANY named is yogesh mishra the
          youngest Millionaire or world smartest person
        </div>
        <div class="line">
          manage the company and helps to achive the sucess or profit for the
          oragnization
        </div>
        <div class="line">super smart and handsome yougnest millionaire</div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
      </div>
      <img src="/uploads/images/introvert.jpg" alt="" />
    </div>

    <div id="profiles">
      <img src="/uploads/images/boy.png" alt="" />

      <div class="profiles-text">
        <div class="line">
          CEO of the industry who leads the COMPANY named is yogesh mishra the
          youngest Millionaire or world smartest person
        </div>
        <div class="line">
          manage the company and helps to achive the sucess or profit for the
          oragnization
        </div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
      </div>
    </div>

    <div id="profiles">
      <div class="profiles-text">
        <div class="line">
          CEO of the industry who leads the COMPANY named is yogesh mishra the
          youngest Millionaire or world smartest person
        </div>
        <div class="line">
          manage the company and helps to achive the sucess or profit for the
          oragnization
        </div>
        <div class="line">super smart and handsome yougnest millionaire</div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
      </div>
      <img
        src="/uploads/images/1727335533111.jpg"
        alt=""
      />
    </div>

    <div id="profiles">
      <img src="/uploads/images/images.jpg" alt="" />

      <div class="profiles-text">
        <div class="line">
         <P> CEO of the industry who leads the COMPANY named is yogesh mishra the
          youngest Millionaire or world smartest person</P>
        </div>
        <div class="line">
          <P> CEO of the industry who leads the COMPANY named is yogesh mishra the
           youngest Millionaire or world smartest person</P>
         </div>
        <div class="line">super smart and handsome yougnest millionaire</div>
        <div class="line">
          super smart and handsome yougnest millionaire,he is incredibly
          thoughtful.
        </div>
      </div>
    </div>
    <div id="foter">
      <footer>
        <div class="footer-nav">Get Connected WITH Us</div>
        <div class="hed">
          <h3>COMPANY-NAME</h3>
          <h3>PRODUCT</h3>
          <h3>USEFULL-LINK</h3>
          <h3>CONTACT</h3>
        </div>
        <div class="data">
          <p>
            "Wear Your Imagination with Motion FX"<br />
            "Print Your Passion at Motion FX"<br />
            "Where Every Shirt Tells a Story"<br />
            "Motion FX: Bringing Your Designs to Life"<br />
            "Express Yourself with Motion FX Tees"<br />
            "Quality Prints, Unlimited Creativity"<br />
          </p>

          <p>
            1) best designs
            <br />
            2) custome design support
            <br />
            3) best quality t-shirts
            <br />
            4) crative analyiss
            <br />
            5) easy to understand
          </p>

          <p>
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Our youtube
            </a>
            <br />
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Instagram
            </a>
            <br />
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Customer-helpline
            </a>
            <br />
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Thread</a
            >
          </p>

          <p>
            93507***
            <br />
            yogeshmishra4544@gmail.com
            <br />
            yhgtk5454@gmail.com
            <br />
            hjikuygthhjg885858
          </p>
        </div>

        <div class="end">
          <p>© 2024 Copyright: MOTION-FX.com</p>
        </div>
      </footer>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascript/logic.js"></script>
    <script src="/javascript/animation.js"></script>
  </body>
</html>
