<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheet/contact.css" />
    <title>contact-us</title>
  </head>
  <body>
    <div id="navbar">
      <div class="image">
        <img src="/uploads/images/logo.png" alt="logo" />
      </div>
  
      <div class="tab">
        <ul>
          <li class="hideOnMobile">
            <a href="/">Home<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/About">About-us<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/Design">Our-Design<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/Contact">Contact-us<span></span></a>
          </li>
          <li class="hideOnMobile">
            <a href="/logout">logout<span></span></a>
          </li>
        
          <li class="menu-button" onclick="showSidebar()">
            <a href="#"><i class="fa-solid fa-bars" height="26" width="26"></i></a>
          </li>
  
        </ul>
      </div>
       <div id="sidebar">
      <div class="tab"></div>
        <ul>
          <li onclick="hideSidebar()">
            <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
          </li>
          <li>
            <a href="/">Home<span></span></a>
          </li>
          <li>
            <a href="/About">About-us<span></span></a>
          </li>
          <li>
            <a href="/Design">Our-Design<span></span></a>
          </li>
          <li>
            <a href="/Contact">Contact-us<span></span></a>
          </li>
          <li>
            <a href="/logout">logout<span></span></a>
          </li>
          
        </ul>
      </div>
    </div>
    </div>

   
    <!--form-->
    <div id="info">
      <p>
        Hey! This is to inform you that this is a contact us page 😎 where you
        are abe to contact with the owner or the help team of the website <br />
        To conatact us you need to fill the form correctly so we can reach you
        and solve your desire question
      </p>
    </div>

    <div id="form-to-contact">
      <form action="/contact" method="post">
        <input
          type="text"
          placeholder="Enter your name here"
          class="form-input"
          name = 'name'
        />
        <input
          type="email"
          placeholder="Enter your Email here"
          class="form-input"
          email = "email"
        />
        <input
          type="number"
          placeholder="Enter your phone-number here"
          class="form-input"
          name = "phoneNumber"
        />
        <input
          type="address"
          placeholder="Enter your Address here"
          class="form-input"
          name = "address"
        />
        <textarea
          name="textArea"
          id=""
          cols="30"
          rows="10"
          placeholder="Enter your message"
          class="form-input"
        ></textarea>
        <button id="btne">Submit</button>
      </form>
    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224096.98009516994!2d76.92842311582939!3d28.644285209684906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1721304789925!5m2!1sen!2sin"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div id="foter">
      <footer>
        <div class="footer-nav">Get Connected WITH Us</div>
        <div class="hed">
          <h3>COMPANY-NAME</h3>
          <h3>PRODUCT</h3>
          <h3>USEFULL-LINK</h3>
          <h3>CONTACT</h3>
        </div>
        <div class="data">
          <p>
            "Wear Your Imagination with Motion FX"<br />
            "Print Your Passion at Motion FX"<br />
            "Where Every Shirt Tells a Story"<br />
            "Motion FX: Bringing Your Designs to Life"<br />
            "Express Yourself with Motion FX Tees"<br />
            "Quality Prints, Unlimited Creativity"<br />
          </p>

          <p>
            1) best designs
            <br />
            2) custome design support
            <br />
            3) best quality t-shirts
            <br />
            4) crative analyiss
            <br />
            5) easy to understand
          </p>

          <p>
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Our youtube
            </a>
            <br />
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Instagram
            </a>
            <br />
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Customer-helpline
            </a>
            <br />
            <a href="https://youtu.be/XwcKZxHVzuE?si=NkcaQ6KuK2DFKdvY"
              >Thread</a
            >
          </p>

          <p>
            93507***
            <br />
            yogeshmishra4544@gmail.com
            <br />
            yhgtk5454@gmail.com
            <br />
            hjikuygthhjg885858
          </p>
        </div>

        <div class="end">
          <p>© 2024 Copyright: MOTION-FX.com</p>
        </div>
      </footer>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascript/logic.js"></script>
    <script src="/javascript/animation.js"></script>
  </body>
</html>
